.app__container {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #316B65;
  /*border: 1px black solid;*/
}
.app__help {
    color: #FFFFFF;
}
.app__input {
    margin: 10px;
}
.app__result {
    font-size: 76px;
    color: #FFFFFF;
}